@import "typography"; 
@import "colors"; 

.services {
    padding: 0; 
    margin: 0; 
    background: #eee;
    padding-bottom: 5em; 

    .container-fluid {
        padding: 0;
        overflow-x: hidden;

        .main {
            width: 75%;
            border-bottom: 2px solid red; 
            line-height: 0.18em;
            margin: 2.5em auto 2.5em; 
            color: $secondary-color; 
            font-size: 2.25rem;

            span {
                background: #eee;
                padding: 0 10px; 
            }
        }

        //air bubbles services
        .ocean {
            background-color: #01cfea;
            background-image: linear-gradient(top, #01cfea 0%, #02def2 100%); 
            background-image: -webkit-linear-gradient(top, #01cfea 0%, #02def2 100%);  
            background-image: -moz-linear-gradient(top, #01cfea 0%, #02def2 100%);  
            background-image: -ms-linear-gradient(top, #01cfea 0%, #02def2 100%);  
            background-image: -o-linear-gradient(top, #01cfea 0%, #02def2 100%);  
            height: 700px; 

            .bubbles {
                position: relative; 
                
                .air {
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                    z-index: 5;
                    background-color: #fff;
                    opacity: 0.25;
                    box-shadow: none;

                    &.size-36 {
                        width: 36px;
                        height: 36px;
                        left: 20%; 
                    }

                    &.size-32 {
                        width: 32px;
                        height: 32px;
                        left: 93%;
                    }

                    &.size-28 {
                        width: 28px;
                        height: 28px;
                        left: 76%; 
                    }

                    &.size-24 {
                        width: 24px;
                        height: 24px;
                        left: 7%; 
                    }

                    &.size-20 {
                        width: 20px;
                        height: 20px;
                        left: 43%;
                    }

                    &.size-18 {
                        width: 18px;
                        height: 18px;
                        left: 55%; 
                    }

                    &.size-40 {
                        width: 40px;
                        height: 40px;
                        left: 67%; 
                    }

                    &.size-42 {
                        width: 42px;
                        height: 42px;
                        left: 32%; 
                    }
                }
            }

            .service-bubbles {

                .service {
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                    z-index: 10;
                    background-color: #fff;
                    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.14), 0 6px 20px 0 rgba(0,0,0,0.133); 

                    &.lg {
                        left: 6.5%;
                        width: 95px;
                        height: 95px;   
                        font-size: 3.5rem;  

                        svg {
                            fill: #35507e;
                        }
                    }

                    &.sm {
                        left: 24.8%;
                        width: 55px;
                        height: 55px;
                        font-size: 1.6rem;

                        svg {
                            fill: orange;
                        }
                    }

                    &.md {
                        left: 47.5%;
                        width: 67.5px;
                        height: 67.5px;
                        font-size: 2rem;

                        svg {
                            fill: aqua;
                        }
                    }

                    &.xl {
                        left: 69.9%;
                        width: 105px;
                        height: 105px;
                        font-size: 3.75rem;

                        svg {
                            fill: rgba( 0,0,0,.7 );
                        }
                    }

                    &.xs {
                        left: 90.8%;
                        width: 49px; 
                        height: 49px; 
                        font-size: 1.4rem;

                        svg {
                            fill: palevioletred; 
                        }
                    }

                    .service-icon {
                        position: relative;
                        top: 50%;
                        transform: translateY(-62%); 
                        text-align: center; 
                    }
                }
            }

            .ocean-text {
                color: white;
                position: relative;
                top: 50%;
                width: 35%;
                margin: 0 auto; 
                text-align: center; 

                h2 {
                    font-weight: 700; 
                }

                p {
                    font-size: 1.5rem;
                    font-family: $font_sans; 
                }
            }
        }

        .service-text {
            margin-top: 2em;

            .deliverables,
            .details {
                margin-top: 2em;
                padding: 0 4.5em; 

                h2 {
                    text-align: center; 
                    color: red; 

                    span {
                        padding: 0 0.5em; 
                    }
                }

                p {
                    margin-top: 2em;
                    font-family: $font_sans; 

                    .first-letter {
                        font-size: 2.5rem;
                        padding-right: .15em;
                    }
                }

                .service-list {

                    p {
                        text-align: center;

                        &:first-child {
                            margin-bottom: 0.25em;
                            font-size: 1.5rem;
                            font-weight: 700;
                            font-family: $font_serif; 
                        }

                        &:nth-child(2) {
                            margin-top: 0;
                            font-size: 0.88rem; 
                            font-weight: 700; 
                        }
                    }

                    li {
                        list-style: none;
                        font-size: 0.85rem; 
                        
                        span {
                            padding: 0 0.5em; 
                            color: #35507e;
                        }
                    }
                }
            }
        }
    }
}

//animations 
.is-visible {
    animation: xIn .3s ease-in,
               fadeIn .3s ease-in; 
}

//responsive

@media ( max-width: 991px ) {
    .services .container-fluid .ocean {
        height: 450px; 

        .ocean-text {
            top: 36%; 
        }
    }
}

@media ( max-width: 1199px ) and ( min-width: 992px ) {
    .services .container-fluid .ocean {
        height: 600px; 
    }
}